.header {
  position: relative;
  display: flex;
  background-color: #1f4593;
  height: 3.5rem;
  align-items: center;
}

.header__logo {
  position: absolute;
  left: 0;
  margin-left: 1.8%;
  width: 3rem;
  height: 3rem;
}

.header__title {
  margin-top: 1rem;
  margin-left: 4.8%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.header__right {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  margin-right: 1.8%;
}

.header__datetime {
  color: #fff;
  font-size: 18px;
  margin-right: 2rem;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #788EB9; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle__text {
  font-size: 1vw; 
  color: black;
  font-weight: bold;
  text-align: center;
}

.employee-details {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* width: 100%; */
}

.employee-details__header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 2%;
}

.employee-details__body {
  font-size: 0.9em;
  color: #555;
}

.employee-details__body div {
  margin-bottom: 2%;
}