.header{
    position: relative;
    display: flex;
    background-color: #1F4593;
    height: 3.5rem;
}

.header__logo{
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
}

.header__title{
    margin-top: 1.5rem;
    margin-left: 5.2rem;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.header__name{
    margin-top: 1rem;
    font-size: 24px;
    margin-left: 10rem;
    color:#fff;
    font-weight: 500;
}

.header__datetime{
    color: #fff;
    margin-left: 52rem;
    margin-top: 1rem;
    font-size: 18px;
}
