.homepage__total {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
}

.homepage {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  height: 70%;
  width: 100%;
  flex-direction: column;
}

.homepage__text {
  margin-left: 4%;
  margin-top: 2%;
  font-size: 2vw;
  font-weight: 300;
  height: 30%;
}

.homepage__information {
  font-size: 1.2vw;
  margin-top: 2%;
  margin-left: 4%;
  height: 30%;
}

.homepage__changeStatus {
  font-size: 0.9vw;
  margin-left: 4%;
  margin-top: auto;
}

.homepage__button {
  color: #ffffff;
  font-size: 0.8vw;
  margin-left: 4%;
  margin-bottom: 2%;
  cursor: pointer;
  height: 8%;
  width: 12%;
  border-radius: 10px;
  background-color: #c4a15a;
  border: 1px solid #c4a15a;
}

.homepage__button:hover {
  background-color: #b18f4a;
  color: #fff;
}

.foto__calendar {
  height: 18%;
  width: 8%;
  margin-top: 2%;
}

.information {
  font-size: 1vw;
}
