.homepage{
    position: relative;
    background-color: #fff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    display: flex;
    height: 70%;
    width: 96%;
    flex-direction: column;
}

.homepage__header {
    display: flex;
    flex-direction: row; /* Dispune elementele pe același rând */
    align-items: center; /* Centrează elementele pe verticală */
    margin-left: 4%;
    margin-top: 2%;
    height: 15%
  }
  
  .homepage__clock {
    height: 25px;
  }
  
  .homepage__datetime {
    color: #000;
    margin-left: 2%; /* Ajustează margin-left pentru a adăuga spațiu între elemente */
    font-size: 100%;
  }

.homepage__text{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 200%;
    font-weight: 300;
    height: 20%;
}

.homepage__information{
    font-size: 150%;
    margin-top: 10%;
    margin-left: 4%;
    height: 20%;
}

.homepage__button{
    color: #1F4593;
    font-size: 100%;
    margin-left: 4%;
    margin-top: 2%;
    cursor: pointer;
    height: 10%;
    width: 15%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #1F4593;
}

.homepage__button:hover{
    background-color: #1F4593;
    color: #fff;
}

.homepage__total{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
}

.foto__calendar{
    height: 18%;
    width: 8%;
}

.information{
    font-size: 100%;
}