.navbar__container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #788EB9;
    width: 20rem; 
    height: calc(100% - 3rem);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5rem;
    gap: 2rem;
    overflow-y: auto;
    align-items: center; 
}

.active {
    background-color: #1F4593 !important;
    color: #fff !important;
    fill: #fff !important;
}

.navbar__button{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 17rem;
    height: 4rem;
    background-color: #fff;
    cursor: pointer;
    color: #2d2d2d;
}

.navbar__svg{
    margin-top: 0.3rem;
    margin-left: 2rem;
}

.navbar__text{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 20px;
}

.lastElement{
    margin-top: auto;
    margin-bottom: 1.5rem;
}