.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.success-message {
  color: green;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.reset-btn {
  background-color: #1f4593;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 18rem; 
  text-align: center;
  border-radius: 15px;
}

.reset-btn:hover {
  background-color: #163a6f;
}