body {
  background-color: #ebebeb;
}

.outer-container {
  padding: 2rem; 
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebebeb;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 70vh;
  max-height: 900px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: auto;
}

.container__left, .container__right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container__left {
  flex: 0.7;
  background-color: #1f4593;
  border-radius: 0rem 0rem 8rem 8rem;
  color: white;
}

.container__right {
  flex: 0.4;
  background-color: white;
}

.container__left h1 {
  margin-bottom: 20px;
}

.container__left p {
  margin-bottom: 30px;
}

.register-btn {
  background-color: #1f4593;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.container__right h1 {
  margin-bottom: 20px;
}

.title {
  font-size: 60px;
  font-weight: 500;
}

.input-group {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #eaeaea;
  width: 18rem;
  height: 3rem;
}

.input__group__text {
  color: #2d2d2d;
  font-size: 16px;
  margin-left: 2rem;
  /* margin-bottom: 0.5rem; */
  background-color: #eaeaea;
  border: none;
  outline: none;
  flex: 1;
}

.foto__user {
  height: 22px;
  margin-right: 1rem;
  justify-content: space-between;
}

.foto__password {
  height: 22px;
  margin-right: 1rem;
  justify-content: space-between;
}

.forgot-password {
  font-size: 12px;
  color: #767676;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.login-btn {
  background-color: #1f4593;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 18rem;
  text-align: center;
  border-radius: 15px;
}

.login-btn:hover {
  background-color: #003399;
}

.x{
  display: flex;
}

.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  
  .container {
    flex-direction: row;
  }

  .container__left{
    border-radius: 0px 8rem 8rem 0px;
  }
}
